/* Reset default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .cell:hover {
    background-color: #f2f2f2;
  }
  
  .cell[data-cell="X"] {
    color: #f44336;
  }
  
  .cell[data-cell="O"] {
    color: #2196f3;
  }
  
  #status {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  button#restart {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button#restart:hover {
    background-color: #388e3c;
  }
  